!!!
%html{html_attrs}
  %head
    %meta{:'http-equiv' => "Content-Type", :content => "text/html; charset=utf-8"}
    %meta{:name => "lang", :content => "en"}
    %title Ultra IRC Log Viewer
    %link{:href=>'/stylesheets/application.css', :media => "screen", :rel => 'stylesheet', :type => "text/css"}
    %script{:type => "text/javascript", :src => "/javascripts/lib/modernizr-1.6.min.js"}
    %script{:src => "/javascripts/lib/require.js", :"data-main" => '/javascripts/main.production' }
    
  %body
    = partial :_nav_main
    %div{:class => 'container'}
      %div{:id => 'stage'}
        %div{:class => 'row'}
          %div{:class => 'span2'}
            %ul{:id => 'channels', :class => 'nav nav-pills nav-stacked'}
              %li{:class => 'all'}
                %a{:href => '#'}
                  all
          %div{:class => 'span10'}
            %ul{:id => 'logs'}
